body {
    color: #2f2f2f;
    background: #fdfdfd;
    font-family: system-ui, -apple-system,'Helvetica Neue', Helvetica, Arial;
}
a {
    text-decoration: none;
    padding: 12px;
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
nav {
    margin: 12px;
    width: 70%;
    justify-content: center;
    display: flex;
    vertical-align: middle;
}
div {
    width: 15%;
    display: inline;
    float: right;
    padding: 12px;
}
h1 {
    display: block;
}
li {
    display: inline;
    margin: 15px;
}
header {
    margin: 20px 0 20px 0;
    display: flex;
    
}
button {
    float: right;
}
